Source: libperseus-sdr
Maintainer: Jakob Ketterl <jakob.ketterl@gmx.de>
Section: hamradio
Priority: optional
Rules-Requires-Root: no
Standards-Version: 4.2.0
Build-Depends: debhelper (>= 11), libusb-1.0-0-dev, autoconf, xxd
Homepage: https://microtelecom.it/
Vcs-Git: https://github.com/Microtelecom/libperseus-sdr.git
Vcs-Browser: https://github.com/Microtelecom/libperseus-sdr

Package: libperseus-sdr-0.8
Architecture: any
Depends: adduser, ${shlibs:Depends}, ${misc:Depends}
Description: SDK library for Microtelecom Perseus SDR devices
 Contains the library for other applications to access Perseus SDR devices

Package: libperseus-sdr-dev
Architecture: any
Depends: libperseus-sdr-0.8 (=${binary:Version}), ${misc:Depends}
Description: SDK library for Microtelecom Perseus SDR devices - development files
 Development files for compiling applications that want to access Perseus SDR
 devices

Package: perseus-tools
Depends: libperseus-sdr-0.8 (=${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Architecture: any
Description: Microtelecom Perseus SDR device tools
 A set of tools for managing Perseus SDR devices on the command line
