Source: libperseus-sdr
Maintainer: Jakob Ketterl <jakob.ketterl@gmx.de>
Section: hamradio
Priority: optional
Rules-Requires-Root: no
Standards-Version: 4.2.0
Build-Depends: debhelper (>= 11), libusb-1.0-0-dev
Homepage: https://microtelecom.it/
Vcs-Git: https://github.com/Microtelecom/libperseus-sdr.git
Vcs-Browser: https://github.com/Microtelecom/libperseus-sdr

Package: libperseus-sdr0.8
Architecture: any
Description: SDK library for Microtelecom Perseus SDR devices

Package: libperseus-dev
Architegure: any
Description: SDK library for Microtelecom Perseus SDR devices - development files

Package: perseus-tools
Architecture: any
Description: Microtelecom Perseus SDR device tools
